body *{
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 500;
}

body {
    background-color: lightgray;
}

#title-header{
    background-color: rgb(233, 156, 40);
}

#header{
    background-color: blanchedalmond;
}

#title {
	text-align: center;
}


.page {
    background-color: white;
    margin: auto;
    padding: 100px;
    padding-top: 0%;
}

.vis-container {
    width: 100%;
}

.vis-container-center {
    width: 100%;
    margin: 0 auto;
}


.vis-container-small {
    width: 90%;
}

.description h2,
h1 {
    margin-top: 0px;
}



.description-right {
    padding-left: 10px;
}

.description-left {
    padding-right: 10px;
}

.pure-g {
    margin-bottom: 100px;
}

.pure-g-mid {
    margin-bottom: 30px;
}

.pure-g-small {
    margin-bottom: 5px;
}

.small-font {
    font-size: 14px;
}

.highlighted_good{
    font-weight: 600;
    color: rgb(224, 144, 24);
    font-size: large;
}

.highlighted_bad{
    font-weight: 600;
    color: rgb(25, 123, 235);
    font-size: large;
}